body {
    font-family: Arial, sans-serif;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: green;
}

.delete-btn {
    background-color: rgb(255, 0, 0);
    color: #ffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #f34545;
}

.container {
    max-width: 400px;
    margin: 140px auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}

@media (max-width: 480px){
    .container {
        margin: 10px;
        padding: 5px;
    }
    .task {
        flex-direction : column;
        align-items: flex-start;
    }
    .delete-btn {
        margin-top: 10px;
    }
}